.search-bing {text-align:center}
.search-results-scope{padding-bottom:10px;}
.usasearch-results-wrap .search-notice {border:1px solid #ccc;padding:10px}
.usasearch-results-wrap ol.usasearch-boosted-results {border:1px solid #ccc;padding-left:10px;padding-right:10px;}